@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-serif);
  
  --animate-spin-slow: spin 8s linear infinite;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer base {
  * {
    @apply border-zinc-800;
  }
  body {
    @apply bg-black text-zinc-300;
  }
}
